$color-slate-light: #f1f5f9;
$color-slate-medium: #64748b;
$color-slate-dark: #334155;
$color-slate-darkest: #0f172a;

$color-sky-light: #e0f2fe;
$color-sky-medium: #0ea5e9;
$color-sky-dark: #0369a1;
$color-sky-darkest: #0c4a6e;

$color-primary: $color-sky-dark;
$color-text: $color-slate-darkest;
$color-text-light: $color-slate-light;
