@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;900&family=Source+Sans+Pro:wght@200;400&display=swap");

$font-sans: "Open Sans", sans-serif;
$font-serif: "Source Sans Pro", sans-serif;

$font-extrasmall: 12px;
$font-small: 16px;
$font-medium: 22px;
$font-large: 26px;
$font-extralarge: 32px;
