.btn {
  background-color: $color-sky-darkest;
  color: $color-slate-light;
  padding: 0.5rem;
  font-family: $font-sans;
  font-size: $font-extrasmall;
  cursor: pointer;
  border: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
